<div class="card-body">
  <form>
      <div class="form-group">
          <label for="exampleFormControlFile1">Enter data from file (Optional)</label>
          <button mat-fab popover="Please use CSV only. Data content must be numeric. Headers can be textual."
          popoverTitle="Upload data"
          triggers="mouseenter:mouseleave"
          title=""
          placement="right">
          <mat-icon>help</mat-icon>
          </button>
          <input type="file" class="form-control-file" (change)="handleFileInput($event.target.files)" accept=".csv"/>
          <div class="form-check" style="float: right;">
            <input class="form-check-input" type="checkbox" id="defaultCheck1" [formControl]="header"/>
            <label class="form-check-label" for="defaultCheck1">
                Dataset has header? 
          </label>
          <button mat-fab popover="Check if your dataset has column/feature/attribute names. Uncheck if there is no column/feature/attribute name."          triggers="mouseenter:mouseleave"
          title=""
          placement="auto">
          <mat-icon>help</mat-icon>
          </button>
          </div>
      </div>
  </form>
  <div class="hot">
    <hot-table [settings]="hotSettings" [hotId]='inputID'></hot-table>
    <button id="search_field" type="search" placeholder="Search" (click)="exportCSV($event)">Export file</button>
  </div>
</div>
